@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Droid+Serif');
/*

#FEFEFE

#ff3333

#cccccc
#999999
#333333

*/

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FEFEFE;
  text-rendering: optimizeLegibility;
}
p {
  /*font: 400 1.25em/1.5 'lato', sans-serif;*/
  font-size: 22px;
	font-weight: 400;
	line-height: 1.6;
	font-family: 'Droid Serif', serif;
}
a {
  color: #ff3333;
}
.wrapper {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}
.logo {
  background-color: #ff3333;
  font-weight: bold;
  width: 60px;
  text-align: center;
  line-height: 1.2;
}
h1 {
  font-size: 1em;
}
.web {
 color: #cccccc;
}
.print {
  color: #999999;
}
.audio {
  color: #333333;
}
.social-icons {
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
}
i {
  padding: 2px;
}
.social-black-icon {
  color: #333;
}
